.board-page {
  height: 100%;
  padding: 16px;
  background: #fff;
}

.board-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
}

.board-form {
  :global {
    .ant-form-item-label > label {
      justify-content: flex-end;
      width: 100px;
      margin-right: 8px;
    }
  }
}
