.menu-header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  color: #1890ff;
  align-items: center;
}

.menu-logo {
  padding-left: 10px;
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

.menu-title {
  font-size: 20px;
}
