.antd-form {
  padding-left: 20px;

  :global {
    .ant-form-item-label > label {
      min-width: 100px;
      padding-right: 10px;
    }

    .ant-tag {
      height: 22px;
    }
  }
}

.title {
  margin: 16px 0;
  font-weight: 700;
  font-size: 20px;
}

.title_sec {
  font-size: 14px;
}

.zy-row {
  display: flex;
  align-items: center;
}

.list-box {
  display: flex;
  padding-top: 16px;
  border-bottom: 1px solid #f3f3f3;
}

.zy-row_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.num {
  flex-shrink: 0;
  width: 20px;
  line-height: 32px;
}

.demo-box {
  width: 100%;
  padding: 200px;
}

// ----------------------
.new-list-box {
  width: 100%;
  min-height: 50px;
}

.div-content {
  flex: 1 1 auto;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}

.sp-text {
  padding: 2px 4px;
  color: #fff;
  background: #1890ff;
  border-radius: 2px;
}

.focus {
  animation: focus-light 1s infinite ease-in-out;

  &::after {
    color: #333;
    font-size: 16px;
    content: '|';
  }
}

@keyframes focus-light {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.box {
  margin-top: 20px;
}
