.scrollbar(@width, @color: #f5f5f5) {
  ::-webkit-scrollbar {
    width: @width * 4;
    background: transparent;
    visibility: hidden;
  }

  ::-webkit-scrollbar-thumb {
    width: @width * 4;
    background: @color;
    border-radius: 30px;
    // visibility: hidden;
  }

  :hover {
    ::-webkit-scrollbar {
      visibility: visible;
    }

    ::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}
.modal-bg {
  .scrollbar(1.5px, rgba(0, 0, 0, 0.3));
  :global {
    .ant-drawer-body {
      display: flex;
      flex-direction: column;
    }
  }
}
.title {
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
}
.content-list {
  flex: 1;
  overflow: auto;
}
.box {
  margin-bottom: 16px;
  padding: 16px;
  font-size: 14px;
  background-color: #f8f9fc;
}

.box-content {
  margin-bottom: 7px;
  padding-bottom: 16px;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #eceef1;
}

.box-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(0, 0, 0, 0.65);

  .extra {
    margin-left: 16px !important;
    font-weight: 400;
    font-size: 14px;
  }
}
