.machine-page {
  // padding: 24px;
  width: 100%;
  background: #fff;

  :global {
    .ant-pro-table-search {
      margin-bottom: 0 !important;
    }
  }
}

.icon {
  max-width: 100px;
  max-height: 80px;
}

.btn-disable {
  color: #515a6e;

  &:hover {
    color: #515a6e;
  }

  &:active {
    color: #515a6e;
  }
}

.btn-success {
  color: #19be6b;

  &:hover {
    color: #47cb89;
  }

  &:active {
    color: #47cb89;
  }
}
