.unknowPage {
  width: 100%;
  background-color: #fff;
  .wrapStyle {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .nameBox {
    display: flex;
  }
}
