.variable-box {
  height: 560px;
  padding-top: 10px;
}

.box-title {
  font-weight: 700;
  font-size: 16px;
}

.chat-box {
  width: 100%;
  height: 560px;
}

.chat-topTitle {
  display: flex;
  justify-content: space-between;
}

.chat-environment {
  margin: 10px 0;
}

.chat-title {
  text-align: center;
}

.chat-dialog {
  width: 100%;
  height: 400px;
  padding-top: 1px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0f2f5;
  border: 1px solid #d9d9d9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  scroll-behavior: smooth;
}

.customer-part {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 20px;

  .words-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 333px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ccc;
    border-radius: 6px;
  }

  .wordsbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.customer-part .words {
  max-width: 333px;
  padding: 10px;
  color: #fff;
  background-color: #1890ff;
  border-radius: 6px;
}

.customer-part .head-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: gold;
  border-radius: 50%;
}

.robot-part {
  display: flex;
  margin: 10px 20px;
}

.robot-part .head-robot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: gold;
  border-radius: 50%;
}

.robot-part .words {
  max-width: 333px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-radius: 6px;
}

.robot-part .askText {
  max-width: 333px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-radius: 6px;

  p {
    margin: 0;
  }
}

.robot-part .words-type {
  font-size: 14px;
}

.chat-footer {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-area {
  width: 100%;
  border: none;
}

.send-btn {
  position: absolute;
  right: 20px;
  bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  color: white;
  text-align: center;
  background-color: #1890ff;
  border-radius: 5px;
}

.send-btn-quiet {
  position: absolute;
  right: 80px;
  bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  color: white;
  text-align: center;
  background-color: #1890ff;
  border-radius: 5px;
}

.hide-box {
  height: 0;
}
